@import "./mixins/shadow.pcss";

.box-shadow {
  @mixin box-shadow;
}

.input-shadow {
  @mixin input-shadow;
}

.box-shadow-1 {
  @mixin shadow1;
}

.box-shadow-2 {
  @mixin shadow2;
}

.box-shadow-3 {
  @mixin shadow3;
}