.badge {
  line-height: 16px;
  padding: 0 5px;
  background-color: $badge-color;
  border-radius: 10px;
  font-size: 12px;
}

.caret:after,
.expand-toggle:after {
  font-family: 'sparrow-icon';
  display: inline-block;
}

.caret:after {
	content: "\e615";
}

.expand-toggle:after {
  font-size: 18px;
  content: "\e629";
  vertical-align: middle;
  color: $expand-toggle-color;
}
.expand-toggle.expanded:after {
  content: "\e601";
}
