* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  color: $DEFAULT_TEXT_COLOR;
  font-size: 14px;
  font-weight: 400;
}

body {
  font-size: 100%;
}