.expand-trigger {
  &:before {
    font-family: 'sparrow-icon';
    content: "\e6c0";
    font-size: 1.285rem;
    @mixin transition-all;
  }

  &.expanded:before {
    transform: rotate(-180deg);
  }
}
