@import "./mixins/shadow.pcss";
@import "./typography.pcss";

.float-message {
  position: fixed;
  z-index: 250;
  top: 60px;
  left: 0;
  right: 0;
  padding: 10px;
  line-height: 30px;
  text-align: center;
  opacity: 0;
  transform: translateY(-200px);
  transition: all .5s ease-in-out;
  @mixin box-shadow;
  @mixin text-ellipsis;
}

.float-message.active {
  opacity: .95;
  transform: translateY(0);
}
