.modal-mask {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  padding: 15px;
  display: block;
  position: absolute;
  position: fixed;
  overflow: hidden;
  visibility: hidden;
  background-color: $modal-mask-color;
  transition: all .3s ease-in-out;
}
.modal-mask.active {
  visibility: visible;
}
