.modal-mask {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  padding: 15px;
  display: block;
  position: absolute;
  position: fixed;
  overflow: hidden;
  visibility: hidden;
  background-color: $modal-mask-color;
}
.modal-mask.active {
  visibility: visible;
}
