@import "./mixins/typography.pcss";

.tree-node-item {
  display: block;
  max-width: 100%;
  padding: 8px 10px;
  font-size: 1rem;
  line-height: 24px;
  color: rgba(0, 0, 0, .75);
  user-select: none;
  @mixin text-ellipsis;
}

.tree-node-item > .icon {
  margin-right: 3px;
}

.tree-node-item[disabled] {
  color: rgba(0, 0, 0, .35);
}

.tree-node-item:hover:not([disabled]) {
  background-color: rgba(0, 0, 0, .08);
  cursor: pointer;
}
