$light-grey: #e0e0e0;

$primary-color: #2196f3;
$secondary-color: #ffC107;
$negative-color: #f44336;
$success-color: #4caf50;
$warning-color: #ff9800;

.foo {
  color: mix($primary-color, #fff);      /*  #800080  */
  color: mix($primary-color, #fff, 75%); /*  #4000BF  */
  color: mix($primary-color, #000, 75%); /*  rgba(64, 0, 191, 0.75)  */
}